$sidebar-bg-color: #212130 !default;
$sidebar-width: 270px !default;
$sidebar-height: 500px !default;
$sidebar-color: white !default;
$icon-size: 37px !default;
$sidebar-collapsed-width: 120px !default;

.nav{
  padding: 20px;
}
.nav-title{
  text-align: center;
}

@import '~react-pro-sidebar/dist/scss/styles.scss';

