:root {
    /*Color*/
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white: #bdbdbd;
    --color-gray: #797585;
    --color-dark-gray: #484554;
    --color-black: #000000;
    --color-light-purple:#D8C2FF;
    --color-light2-purple:#AD9AFF;
    --color-purple:#8173F4;
    --color-dark-purple:#554FC9;
    --color-dark2-purple:#222DA0;
    --color-orange:#FFB94F;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-reqular: 19px;
    --font-small:16px;
    --font-micro: 14px;

    /*Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*size*/
    --size-border-radius: 4px;


    /*animation duration*/
    --animation-duration: 300ms;
}



/*Uvibersal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-reqular);
    font-weight: var(--font-reqular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-reqular);
    font-weight: var(--font-reqular);
    color: var(--color-black);
    margin: 8px 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Section common*/
.section {
    padding: 50px;
    text-align: center;
    max-width:1200px;
    margin: auto;
}

/* Nav */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-dark2-purple);
    align-items: center;
    color: var(--color-white);
    padding:16px;
}

.navbar__menu {
    display: flex;

}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-purple);
    
}

.navbar__toggle-btn {
    position: absolute;
    top:23px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/*home*/
#home {
    background: url("imgs/background.png") center/cover no-repeat;
    padding: 60px;
    text-align: center;


}

.home__profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);

}

.home__title {
    color: var(--color-white);
}

.home__contact {
    font-size: var(--font-reqular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
}

/* about */
#about {
    background-color: var(--color-light-white);


}

.about__boxs {
    margin: 40px;
    
}

.about__box {
    display: flex;
    margin: 30px 0;
}

.box__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.box__avatar:nth-child(odd) {
    margin-right: 40px;

}

.box__avatar:nth-child(even) {
    margin-left: 40px;

}


.box_speech-bubble {
    padding: 18px;
    
    border-radius: var(--size-border-radius);

}

.box_speech-bubble:nth-child(odd){
    border: 4px;
    border-color: var(--color-light2-purple);
    background-color: var(--color-light-purple);
}

.box_speech-bubble:nth-child(even){
    border: 4px;
    border-color: var(--color-purple);
    background-color: var(--color-light2-purple);
}

.box_speech-bubble p {
    color: var(--color-light-gray)
}

.about__career {

    align-items: center;
}

.career__description {
    margin: 0 16px;
    text-align: left;
}
.about__career__career__title,
.about__career__education__title {
    color: var(--color-orange);
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.description__text {
    color: var(--color-dark-gray);
    font-size: var(--font-small);
}
/* skills */
#skills {
    background-color: #FBF8FF;
}

.skills__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major_icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin:auto;
    color: var(--color-dark-purple);
    border: 2px solid var(--color-light2-purple);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major_icon i{
    transition: all var(--animation-duration) ease;
}

.major_icon :hover{
    color:  var(--color-light-purple);
    transform: rotate(-10deg) scale(1.1);
}

.major_description {
    color: var(--color-dark-gray);
    font-size: var(--font-small);
}

.skills__container {
    background-color: var(--color-gray);
    padding: 20px;
    border-radius: var(--size-border-radius);
}

.skills_etc {
    border: 1px solid var(--color-dark-gray);
    border-radius: var(--size-border-radius);
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.etc_title {
    color: var(--color-white);
}

.skillset {
    background-color: var(--color-dark-gray);
    text-align: center;
    margin: 20px 0;
    padding: 20px 40px;
    border-radius: var(--size-border-radius);
}

.skillset__title {
    color: var(--color-white);
}

.skill {
    margin: 20px;
}
.skill__description {
    display: flex;
    justify-content: space-between;
    color:var(--color-white);
    margin: 5px;
}

.skill__bar {
    width: 100%;
    height: 7px;
    background-color: var(--color-dark-white);
    border-radius: 5px;
}
.skill__value {
    width: 40%;
    height: 7px;
    background-color: var(--color-orange);
    border-radius: 5px;
}

/* project */


.project__categories {
    margin:40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-reqular);
    padding: 8px 49px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-light2-purple);
    color: white;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.project__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    position: relative;
    width: 300px;
    height: 280px;
    margin: 2px;
    background-color: var(--color-light-white);
    justify-content: center;
    align-items: center;
    display: flex;

}

.item__img {
    max-width: 100%;
    max-height: 100%;
}

.item__description {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.item:hover .item__description{
    opacity:0.8;
    transform: translateY(0);
}

.item__description h3{
    color: var(--color-white);
}

.item__description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* contact */
#contact {
    background-color: var(--color-purple);
}

.contact__title,
.contact__email {
    color: var(--color-white);
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
    transform: scale(1.2);
    color: var(--color-orange);
}

/* 반응형 */
/* for below 768px screen width*/
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display: block;

    }

    #navbar {
        flex-direction:column;
        align-items: flex-start;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .box__avatar {
        width: 80px;
        height: 80px;
    }

    .box_speech-bubble p{
        font-size: var(--font-micro);
    }

    .skills__majors {
        flex-direction: column;
    }

    .major {
        margin-bottom: 38px
    }

    .item {
        flex-grow: 1;
    }


}